<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>用户列表</title>
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
</head>
<body>
<div class="container">
    <img src="/images/zy.jpg" alt="">
    <table class="table table-responsive">
        <tr>
            <td>ID</td>
            <td>姓名</td>
        </tr>
        <%
           for(var i=0;i<users.length;i++){%>
                <tr>
                    <td><%=users[i].id%></td>
                    <td><%=users[i].name%></td>
                </tr>
        <%}
        %>
    </table>
</div>
</body>
</html>